 
<!--Jumbotron-->
<div class="jumbotron text-center white-text" id="title">

	<!-- Title and image -->
	<div class="container-fluid row title-home" >

		<!--Title-->
		<div class="col-sm-12 col-md-12 title wow animated fadeIn" data-wow-delay="0.5s">
	    
	    	<h1 class="card-title home-head h2-responsive mt-2 font-bold"><strong>Hp World&nbsp;&nbsp;<i class="fa fa-bolt"></i></strong></h1>

	    	<h4 class="font-italic"><strong>A Map Based Visualization Tool for the world of Harry Potter</strong></h4><br><br>

	    	<a href="/dashboard"><button type="button" class="btn btn-outline-primary waves-effect" style="color: white!important;border-color: white!important;" >Get Started</button></a>

		</div>

    </div>

</div>
<!--Jumbotron-->

<!--Steps-->
<div class="container-fluid steps wow" id="steps">

	
	<div class="row wow">
		<!--Steps heading-->
		<div class="col-sm-12 col-md-12  col-lg-8 col-xl-8 steps-heading text-center  wow animated zoomIn" data-wow-delay="0.3s">
			<h1><strong>Why Hp World?</strong></h1><br><br>


			<hr style="border-top: 2px solid #E4D9FF;">
			<br>
			<h3 style="font-style: italic;"><strong>For all the Potterheads out there , live the phenomenon that won our hearts once again !</strong></h3>
			<br>
			<hr style="border-top: 2px solid #E4D9FF;">

		</div>

	</div>
	

    <!--Steps row-->
    <div class="row mt-5 wow text-center">

        <!--First column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa  fa-map-marker fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>1. Hover over a location for details</strong></h3>                
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>2. Or select a location</strong></h3>
        
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-sm-12 col-lg-4 wow fadeIn home-steps " data-wow-delay="0.3s">

            <i class="fa fa-play fa-5x" aria-hidden="true"></i>
            <br>
            <h3><strong>3. Then hover over characters or events !</strong></h3>
        
        </div>
        <!--/.Third column-->
    </div>
    <!--/.First row-->

</div>




 <!--Features-->
<div class="container-fluid wow features text-center wow animated zoomIn" data-wow-delay="0.3s" id="features">

	<!--Features title-->
	<div class="row wow text-center">

		<div class="col-lg-8 wow fadeIn features-heading" data-wow-delay="0.3s">

		<h1 class="text-center feature-head"><strong>Features</strong></h1>
		<hr style="border-top: 2px solid white;">        
	    
	    </div>

		
	</div>

	
	<!--Feature Entries-->
	<div class="row mt-5 wow features-login text-center">


	    <!-- Support -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInLeft features-entries" style="color: white;" data-wow-delay="0.3s">

			<i class="fa fa-refresh fa-5x " style="color: white;" aria-hidden="true"></i><br><br>
			<h4><strong>Help alerts</strong></h4>
	    
	    </div>


    	<!-- Chat -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated zoomIn features-entries" style="color: white;" data-wow-delay="0.3s">

			<i class="fa fa-hand-pointer-o fa-5x " style="color: white;" aria-hidden="true"></i><br><br>
			<h4><strong>Interactive</strong></h4>
	    
	    </div>


    	<!-- Filter-->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInRight features-entries" style="color: white;" data-wow-delay="0.3s">

			<i class="fa fa-picture-o fa-5x " style="color: white;" aria-hidden="true"></i><br><br>
			<h4><strong>Images</strong></h4>
	    
	    </div>


    	 <!-- Email -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInLeft features-entries" style="color: white;" data-wow-delay="0.3s">

			<i class="fa fa-video-camera fa-5x " style="color: white;" aria-hidden="true"></i><br><br>
			<h4><strong>Videos</strong></h4>
	    
	    </div>


    	<!-- Search -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated zoomIn features-entries" style="color: white;" data-wow-delay="0.3s">

			<i class="fa fa-plus-circle fa-5x" style="color: white;" aria-hidden="true"></i><br><br>
			<h4><strong>Add Locations</strong></h4>
	    
	    </div>
  

    	<!-- Query Info -->
	    <div class="col-sm-12 col-md-6 col-lg-4 wow animated bounceInRight features-entries" style="color: white;" data-wow-delay="0.3s">

			<i class="fa fa-play fa-5x" style="color:white;" aria-hidden="true"></i><br><br>
			<h4><strong>Relive the Phenomenon</strong></h4>
	    
	    </div>

	</div>

</div>



