<audio controls id="audio">
  <source src="../audios/potter.mp3" type="audio/aac">
Your browser does not support the audio element.
</audio>
<div class=" container-fluid user-dashboard text-center">
	<div ng-if="relive.ended">
    	<h1>Thank You!</h1>
    </div>
	<button class="btn btn-outline-primary waves-effect dropdown-toggle" style="color: white!important;border-color: white!important;" type="button" ng-click="relive.start();" ng-if="relive.button">Start</button>
    <div class="row">

    	<div class="col-md-8 row" style="margin-left: 16.66%;margin-right: 16.66%;">
    		<div class="col-md-12 wow animated fadeIn" data-wow-delay="0.5s" id="map1">
        	</div>
    	</div>
        
    </div>

    

    
            
    
</div> 




  